


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 100vh;
  box-sizing: border-box;
  
}

/* Image container (left side) */
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main img {
  max-width: 100%;
  height: auto;
  width: 400px;
  border-radius: 10px;
  border-radius: 30%;
}

/* Input container (right side) */
.three {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligns labels and inputs to the left inside the right side */
  padding: 0 40px;
  margin-right: 200px;
 
}

/* Inputs */
.two,
.three input[type="password"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;

}

/* Button styling */
.three button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #7030a0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.three button:hover {
  background-color: #9a55ee;
  color: black;
}




.three{
    text-align: right;
    display: block;
}

.bg-half {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-color: #7030a0;
  z-index: -1;
}
.four{
  margin-right: 130px;
  color: #7030a0;
}
p{
 margin-right: 80px;
}
h3{
  margin-right: 145px;
}
button{
  width: 100%;
  max-width: 322px;
 
}
