

.navbar {
  display: flex;
  justify-content: space-between;
  /* space between title and icons */
  align-items: center;
  padding: 10px 20px;
  background-color: #ddd;
  /* border: 1px solid rgb(206, 201, 201); */
  height: 35px;
  color: #7030a0;
  margin-top: 0%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* ✅ round top-right */



}




.nav-icons {
  display: flex;
  gap: 15px;
  /* spacing between icons */
}

.nav-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
