<div class="employee-container">
    <div class="header">
        <h3>Employee</h3>

        <div class="header-actions">
            <input type="text" placeholder="Search historical" [(ngModel)]="searchTerm" (input)="onSearch()" />
            <div class="icons">
                <img src="assets/refresh.png" alt="Refresh" class="nav-icon upload-icon">
                <img src="assets/filter.png" alt="filter" class="nav-icon upload-icon">
                <img src="assets/columns.png" alt="columns" class="nav-icon upload-icon">
            </div>
        </div>
    </div>
            <!-- <button (click)="selectOption(emp, 'detailed')" routerLink="/detailed">Detailed</button> -->
    <!-- <div class="table-container">
        <table>
            <thead>
                <tr>

                    <th>Employee Name</th>
                    <th>Department</th>
                    <th>Id Number</th>
                    <th>Project</th>
                    <th>Country</th>
                    <th>Location</th>
                    <th>Area</th>
                    <th>History</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let emp of filteredEmployees">
                    <td>{{ emp.employeeName }}</td>
                    <td>{{ emp.department }}</td>
                    <td>{{emp.uid}}</td>
                    <td>{{ emp.project || '—' }}</td>
                    <td>{{ emp.country || '—' }}</td>
                    <td>{{ emp.location || '—' }}</td>
                    <td>{{ emp.area || '—' }}</td>
                    <td>
                        <div class="dropdown-container tooltip-container">
                            <button class="history-btn" (click)="toggleDropdown(emp, $event)">
                                <img src="assets/historical.png" alt="history" />
                                <span class="tooltip-text">View History</span>
                            </button>

                            <div class="dropdown-menu" *ngIf="emp.showDropdown" (click)="$event.stopPropagation()">
                                <button (click)="selectOption(emp, 'overview')" routerLink="/overview">Overview</button>
                    
                            </div>

                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div> -->



    <div class="table-container">
        <table>
            <thead>
                <tr>

                    <th>Asset Name</th>
                    <th>Project Name</th>
                    <th>Device Name</th>
                    <th>Device Type</th>
                    <th>Model</th>
                    <th>Technology</th>
                    <th>Device Status</th>
                    <th>History</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let historical of historicallist">
                    <td>{{ historical.assetName }}</td>
                    <td>{{ historical.projectName }}</td>
                    <td>{{historical.deviceName}}</td>
                    <td>{{ historical.deviceType}}</td>
                    <td>{{ historical.model}}</td>
                    <td>{{ historical.technology}}</td>
                    <td>{{ historical.deviceStatus}}</td>
                    <td>
                        <div class="dropdown-container tooltip-container">
                            <button class="history-btn" (click)="toggleDropdown(historical, $event)">
                                <img src="assets/historical.png" alt="history" />
                                <span class="tooltip-text">View History</span>
                            </button>

                            <div class="dropdown-menu" *ngIf="historical.showDropdown" (click)="$event.stopPropagation()">
                                <button (click)="selectOption(historical, 'overview')" routerLink="/overview">Overview</button>
                            </div>

                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>