* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 60px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar-left {
  font-size: 15px;
  font-family: 'RedHatDisplay-Regular';
}


.add-widget-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  gap:20px;
}

.add-widget-text {
  color: gray;
  font-family: 'RedHatDisplay-Regular';
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}



.add-widget-text:hover {
  color: #7030a0;
}

.plus-symbol {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 4px;
}

.widget-text {
  font-size: 13px;
  text-decoration: underline; /* underline only this text */
  font-family: 'RedHatDisplay-Regular';
}






.AWContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.AwContent {
  background: white;
  width: 650px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.AWNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.AWNavbar span:first-child {
  font-size: 14px;
  font-weight: bold;
  color: #7030a0;
}

.close-btn {
  font-size: 22px;
  cursor: pointer;
  color: #666;
}

.personal-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.time-range {
  display: flex;
  align-items: center;
  gap: 10px;
 font-size: 13px;
}

.time-range select {
  padding: 3px 7px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.personal-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #333;
}

.checkbox-item input[type="checkbox"] {
  width: 13px;
  height: 13px;
  accent-color: #7030a0;
}


.chart-box {
  width: 100%;
  height: 350px;
}








.widget-card {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 18px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-dot {
  width: 12px;
  height: 12px;
  background: #4caf50;
  border-radius: 50%;
}

.device-title {
  font-size: 13px;
  font-weight: bold;
  font-family: 'RedHatDisplay-Regular';
  color: #333;
}

.chart-container {
  width: 100%;
  height: 320px;
  padding: 8px;
}
