<div class="content1">
  <img class="menu-icon" data-tooltip="Menu" data-tooltip="Menu" src="assets/menu.png" alt="Menu"
    (click)="toggleSidebar()">
  <h1>Asset Tracking</h1>
  <div class="right-icons">
     <!-- <span class="icon-wrapper" data-tooltip="Notifications">
      <img class="last" src="assets/navclock.png" alt="Notification icon">
    </span> -->

<!-- 
<span class="icon-wrapper" (click)="toggleDropdown($event)">
  
  <img class="last" src="assets/admin.png">

  <div class="user-info">
    {{ userid }}
  </div>

   Do NOT stopPropagation here unless needed 
  <div class="dropdown" *ngIf="menuOpen">
    <ul>
      <li (click)="goToProfile()">My Profile</li>
      <li (click)="changePassword()">Change Password</li>
      <li (click)="openHelp()">Help & Support</li>
      <li (click)="logout()">Logout</li>
    </ul>
  </div>

</span> -->



    <span class="icon-wrapper" data-tooltip="Admin" (click)="toggleDropdown($event)">
      <img class="last" src="assets/user.png"  alt="Dashboard icon">
      <div class="user-info">
        {{ userid }}
      </div>
      <div class="dropdown" *ngIf="menuOpen">
    <ul>
      <li (click)="goToProfile()">My Profile</li>
      <li (click)="changePassword()">Change Password</li>
      <li (click)="openHelp()">Help & Support</li>
      <li (click)="logout()">Logout</li>
    </ul>
  </div>
    </span>
    <span class="icon-wrapper" data-tooltip="Notifications">
      <img class="last" src="assets/bell.png" alt="Notification icon">
    </span>
  </div>
</div>






<!-- Sidebar + Main Layout -->
<div class="layout">

  <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <nav>

      <a class="main tooltip" routerLink="/dashboard" (click)="closeAdminMenu()" data-tooltip="Dashboard">
        <img src="assets/dashboard.png" alt="Dashboard icon" class="white-icon">
        <span class="link-text">Dashboard</span> </a>


      <!-- Tracking with submenu -->
      <div class="menu-item" [class.open]="isTrackingMenuOpen">
        <a href="javascript:void(0)" (click)="toggleTrackingMenu()">
          <span class="main tooltip" data-tooltip="Tracking">
            <img src="assets/marker.png" alt="Tracking" class="white-icon">
            <span class="link-text">Tracking</span>
          </span>
        </a>

        <div class="submenu">
          <!-- Heading -->
          <a href="#">
            <span class="tooltip" data-tooltip="Tracking">
              <img src="assets/marker.png" alt="Tracking icon" class="purple-icon">
            </span>
            Tracking
          </a>


          <!-- Live -->
          <div class="submenu-item" [class.open]="isLiveOpen">
            <a class="one-sub" [routerLink]="'/live'" href="javascript:void(0)" (click)="toggleLiveMenu()">
              Live
            </a>
          </div>

          <!-- Historicals -->
          <!-- <div class="submenu-item" [class.open]="isHistoricalsOpen">
            <a class="one-sub" [routerLink]="'/historicals'" href="javascript:void(0)"
              (click)="toggleHistoricalsMenu()">
              Historicals
            </a>
          </div> -->

        </div>
      </div>





      <!-- <a class="main tooltip" href="#" data-tooltip="Events" routerLink="/events">
        <img src="assets/event.png" alt="Events" class="white-icon">
        <span class="link-text">Events</span>
      </a> -->

      <a class="main tooltip" href="#" data-tooltip="Reports" routerLink="/createreport">
        <img src="assets/reports.png" alt="Reports" class="white-icon">
        <span class="link-text">Reports</span>
      </a>

      <!-- <a class="main tooltip" href="#" data-tooltip="Process & Automation" routerLink="/processautomation">
        <img src="assets/automation.png" alt="Automation">
        <span class="link-text">Process & Automation</span>
      </a> -->


      <!-- Administration with submenu -->
      <div class="menu-item" [class.open]="isAdminMenuOpen">
        <a href="javascript:void(0)" (click)="toggleAdminMenu()">
          <span class="admintooltip" data-tooltip="Admin">
            <img src="assets/administration.png" alt="Admin" class="white-icon">

            <span class="link-text">Administration</span></span></a>

        <div class="submenu">
          <a href="#">
            <span class="tooltip" data-tooltip="Administration">
              <img src="assets/administration.png" alt="Dashboard icon">
            </span>
            Administration
          </a>
          <a class="one-sub" routerLink="/project" (click)="closeAdminMenu()"> Configuration</a>
          <!-- <a class="one-sub" href="#" routerLink="/licensemanagement" (click)="closeAdminMenu()">License Management</a> -->
          <a class="one-sub" href="#" routerLink="/user-management" (click)="closeAdminMenu()">User Management</a>
        </div>
      </div>
    </nav>
  </div>


  <!-- Main content -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>