/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}







@font-face {
  font-family: 'RedHatDisplay';
  src: url('/assets/font/RedHatDisplay-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('/assets/font/RedHatDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('/assets/font/RedHatDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('/assets/font/RedHatDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
}






/* Apply RedHatDisplay font to the whole app */
html, body {
  font-family: 'RedHatDisplay', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}



/* wrapper ring */
.device-ring {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(112, 48, 160, 0.15);
  border: 2px solid #7030a0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 12px rgba(112, 48, 160, 0.6);
}

/* inner icon */
.device-core {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #7030a0;
}
