.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background: #f4f4f4;
}

.action-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin: 0 6px;
  transition: transform 0.2s ease;
}

.action-icon:hover {
  transform: scale(1.2);
}
